h1.wmd-preview-title-sidebar= settings.ApplicationSettings['sidebar:title']

#sidebar-photo-div
  a(href="#{settings.ApplicationSettings['sidebar:photoUrl']}", target="_blank")
    img#sidebar-photo(src="#{settings.ApplicationSettings['sidebar:photoUrl']}", alt="Photo URL is broken")

#wmd-preview-sidebar.wmd-preview!= settings.ApplicationSettings['sidebar:infoHtml']

script(async,
       src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7345812398640224",
       crossorigin="anonymous")
// Right sidebar below profile
ins(class="adsbygoogle",
    style="display:block",
    data-ad-client="ca-pub-7345812398640224",
    data-ad-slot="5955443061",
    data-ad-format="auto",
    data-full-width-responsive="true")
script() (adsbygoogle = window.adsbygoogle || []).push({});