include ./shareButtons.jade
include ./postAdmin.jade

  
mixin postView(post, edit, view)
  - post = post || {}
  - if (edit) post.User = locals.user || {}
  - post.Tags = post.Tags || []
  - post.Comments = post.Comments || []
  .post.wmd-panel
    h1.post-title
      a(class=edit ? 'wmd-preview-title' : null, href='/' + encodeURIComponent(post.title))= post.title
    a(href=post.photoUrl || null, target='_blank')
      img.centered.post-img(src=post.photoUrl, alt='Photo URL is broken', style=post.photoUrl ? null : 'display: none')
    .wmd-preview(id=edit ? 'wmd-preview' : null)!= post.bodyHtml
    if (edit || post.Tags.length) 
      p(style = post.Tags.length ? null : 'display: none')
        span.post-meta Tags: 
        span.post-meta.tags #{post.Tags.map(function(d) { return d.name; }).join(', ')}
    .footer.meta
      .left
        span.post-meta By #{post.User.displayName}
      .right
        span.post-meta Published on #{post.publishedAt || new Date()}
    .footer
      .left
        if (post.title) 
          +shareButtons(settings.config.siteUrl + '/' + encodeURIComponent(post.title), post.title)
        else
          +shareButtons(settings.config.siteUrl, settings.ApplicationSettings.title)
    .footer
      .left
        - var numComments = post.Comments.filter(function(d) { return d.published; }).length
        a(href='/' + encodeURIComponent(post.title) + '#comments')= numComments === 1 ? '1 comment' : numComments + ' comments'
        .share-div.spacer
        if (view || edit)          
          button.reply(type="button") Comment
        else
          button(type="button", onclick="window.location.href = '/" + encodeURIComponent(post.title) + "#new-comment'; return false;") Comment
      .right
        if (locals.user && (locals.user.id === post.User.id || roles['post_editor']))
          +postAdmin(post)

  


    
  