include ../mixins/shareButtons.jade
include ../mixins/projectAdmin.jade

extends ../layout

block content
  .post.project.wmd-panel
    h1.project-title 
      a(href=project.url, target="_blank")= project.title
    a(href=project.url, target="_blank")
      img.centered.project-img(src=project.photoUrl)
    if (project.url)
      p
        strong URL: 
        a.project-url(href=project.url, target="_blank")= project.url
    .wmd-preview!= project.descriptionHtml
    hr
    .footer
      .left
        +shareButtons(settings.config.siteUrl + '/projects/' + encodeURIComponent(project.title), project.title)
      .right
        if (locals.user && roles['project_manager'])
          +projectAdmin(project)
append head
  meta(property="fb:app_id", content=settings.config.appKeys.facebook.clientID)
  meta(property="og:title", content=project.title)
  meta(property="og:site_name", content=settings.ApplicationSettings.title)
  meta(property="og:url", content=settings.config.siteUrl + '/projects/' + encodeURIComponent(project.title))
  meta(property="og:description", content=project.summary)
  meta(property="og:type", content="article")  
  if (project.photoUrl)
    meta(property="og:image", content=project.photoUrl[0] === '/' ? settings.config.siteUrl + project.photoUrl : project.photoUrl)