include ../mixins/postView.jade
  
extends ../layout

block content
  if posts.length === 0
    h2 No one has posted yet!
  each post, idx in posts
    +postView(post)
    if (idx < posts.length - 1)
      hr.post
append head
  meta(property="fb:app_id", content=settings.config.appKeys.facebook.clientID)
  meta(property="og:title", content=settings.ApplicationSettings.title)
  meta(property="og:site_name", content=settings.ApplicationSettings.title)
  meta(property="og:url", content=settings.config.siteUrl)
  meta(property="og:description", content=settings.ApplicationSettings['sidebar:info'].substr(0, 600))
  if (settings.ApplicationSettings['sidebar:photoUrl'])
    meta(property="og:image", content=settings.ApplicationSettings['sidebar:photoUrl'])
  if (settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@" + settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:title", content=settings.ApplicationSettings.title)
    meta(name="twitter:description", content=settings.ApplicationSettings['sidebar:info'].substr(0, 600))
    if (settings.ApplicationSettings['sidebar:photoUrl'])
      meta(name="twitter:image", content=settings.ApplicationSettings['sidebar:photoUrl'])