include ../mixins/postView.jade
  
extends ../layout

block content
  if locals.blogAuthor && locals.blogTag
    h1 Posts by <a href="/user/#{encodeURIComponent(locals.blogAuthor)}">#{locals.blogAuthor}</a> tagged <em>#{locals.blogTag}</em>
  else if locals.blogAuthor
    h1 Posts by <a href="/user/#{encodeURIComponent(locals.blogAuthor)}">#{locals.blogAuthor}</a>
  else if locals.blogTag
    h1 Posts tagged <em>#{locals.blogTag}</em>
  if posts.length === 0
    h2 No one has posted yet, there are no posts on this page, author does not exist, or this tag is invalid.
  each post, idx in posts
    +postView(post)
    if (idx < posts.length - 1)
      hr.post
  if locals.previousPage || locals.nextPage
    hr.post
    .page-nav
      .left
        if locals.previousPage
          a(href="/" + locals.previousPage) <<< Previous page
      .right
        if locals.nextPage
          a(href="/" + locals.nextPage) Next page >>>
append head
  meta(property="fb:app_id", content=settings.config.appKeys.facebook.clientID)
  meta(property="og:title", content=settings.ApplicationSettings.title)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content=settings.ApplicationSettings.title)
  meta(property="og:url", content=settings.config.siteUrl)
  meta(property="og:description", content=settings.ApplicationSettings['sidebar:info'].substr(0, 600))
  if (settings.ApplicationSettings['sidebar:photoUrl'])
    meta(property="og:image", content=settings.ApplicationSettings['sidebar:photoUrl'])
  if (settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@" + settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:title", content=settings.ApplicationSettings.title)
    meta(name="twitter:description", content=settings.ApplicationSettings['sidebar:info'].substr(0, 600))
    if (settings.ApplicationSettings['sidebar:photoUrl'])
      meta(name="twitter:image", content=settings.ApplicationSettings['sidebar:photoUrl'])