include ../mixins/postView.jade

mixin commentView(comment, offset)
  - var children = comments.filter(function(child) { return comment.id === child.commentId; })
  .comment(class="comment-" + comment.id, style={'margin-left': offset ? 30 + "px" : "0px"})
    .comment-content
      a.user-link(href='/user/' + encodeURIComponent(comment.User.displayName), target="_blank")
        .photo
          img(src=comment.User.photoUrl)
        div= comment.User.displayName
      .wmd-preview!= comment.bodyHtml
    .footer
      .left                        
        span.reply-expander&attributes({"data-comment-id": comment.id})
          div.bullet
            span &#8227; 
          span.reply= children.length === 1 ? '1 reply' : children.length + ' replies'
        .share-div.spacer
        button.reply(type="button")&attributes({"data-comment-id": comment.id}) Reply
      .right
        if (locals.user && (comment.User.id === user.id || roles['comment_editor']))        
          button.edit(type="button")&attributes({"data-comment-id": comment.id}) Edit    
    hr
    .children(style={'margin-left': 30 + "px"}, class="comment-" + comment.id)
      each child in children
        +commentView(child, 1)
  
  
extends ../layout

block content
  +postView(temporaryPost)
  hr
  .comments
    - var unpublishedComments = temporaryPost.Comments.filter(function(comment) { return !comment.published && (locals.user && (roles['comment_editor'] || comment.User.id === locals.user.id)); }).sort(function(a, b) { return a.created_at - b.created_at; })
    if (unpublishedComments.length)
      h2 Unpublished Comments
      .wmd-preview
        table
          tr
            th ID
            th User
            th Created At            
            th Edit
          each comment in unpublishedComments
            tr
              td= comment.id
              td= comment.User.displayName
              td= comment.created_at.toUTCString()
              td
                button(type="button").edit Edit
              
      hr
    h2
      a(name="new_comment") New Comment
    form.comment-editor(action="POST", onsubmit="return false;")
      #comment-reply
      #wmd-button-bar-comment.wmd-button-bar
      #wmd-editor-comment.wmd-editor
      textarea#wmd-input-comment.wmd-input
      .comment
        .comment-content
          a.user-link(href=locals.user ? '/user/' + encodeURIComponent(user.displayName) : '/login')
            .photo
              img(src=locals.user ? user.photoUrl : '/images/default-profile.jpg' )
            .display-name!= locals.user ? user.displayName : 'Please log in'
          #wmd-preview-comment.wmd-preview
      .buttons
        button.submit-button(disabled=true) Save
          .overlay
        button.submit-button(disabled=true) Comment
          .overlay
        button.submit-button(disabled=true, style={display: 'none'}) Destroy
          .overlay
      hr    
    h2
      a(name="comments") Comments
    - var comments = temporaryPost.Comments.filter(function(comment) { return comment.published; }).sort(function(a, b) { return a.publishedAt - b.publishedAt; })
    if (comments.length === 0)
      p No comments have been posted yet. You can be the first!
    each comment in comments.filter(function(comment) { return comment.commentId === null; })
      +commentView(comment, 0)

append head
  meta(property="fb:app_id", content=settings.config.appKeys.facebook.clientID)
  meta(property="og:title", content=temporaryPost.title)
  meta(property="og:site_name", content=settings.ApplicationSettings.title)
  meta(property="og:url", content=settings.config.siteUrl + '/' + encodeURIComponent(temporaryPost.title))
  meta(property="og:description", content=temporaryPost.body.substr(0, 600))
  meta(property="og:type", content="article")
  meta(property="article:author", content=temporaryPost.User.displayName) 
  if (temporaryPost.photoUrl)
    meta(property="og:image", content=temporaryPost.photoUrl[0] === '/' ? settings.config.siteUrl + temporaryPost.photoUrl : temporaryPost.photoUrl)
  if (settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@" + settings.ApplicationSettings['contact:twitter'])
    meta(name="twitter:title", content=temporaryPost.title)
    meta(name="twitter:description", content=temporaryPost.body.substr(0, 600))
    if (temporaryPost.photoUrl)
      meta(name="twitter:image", content=temporaryPost.photoUrl[0] === '/' ? settings.config.siteUrl + temporaryPost.photoUrl : temporaryPost.photoUrl)

append body
  script.
    Array.prototype.slice.call(document.querySelectorAll('.reply-expander'))
    .forEach(function(replyExpander) {
      replyExpander.addEventListener('click', expandReplies);
    });
    Array.prototype.slice.call(document.querySelectorAll('button.reply'))
    .forEach(function(replyButton) {
      replyButton.addEventListener('click', replyHandle);
    });
    Array.prototype.slice.call(document.querySelectorAll('button.edit'))
    .forEach(function(editButton) {
      editButton.addEventListener('click', editHandle);
    });
    function replyHandle() {
      var commentReply = document.getElementById('comment-reply');
      if (this.dataset.commentId) {
        var clonedComment = document.querySelector('.comment-' + this.dataset.commentId).cloneNode(true);
        clonedComment.removeChild(clonedComment.querySelector('.children'));        
        commentReply.innerHTML = "<h3>Replying to...</h3>";
        commentReply.appendChild(clonedComment);
      } else {
        commentReply.innerHTML = null;
      }
      window.location.href = '#new_comment';
      return false;
    }
    function editHandle() {    
    }
    function expandReplies() {
      var children = document.querySelector('.children.comment-' + this.dataset.commentId);
      this.classList.toggle('expanded');
      children.classList.toggle('expanded');
    }